quanlyquancaphe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- ==========Kiểu dữ liệu========== -->
    <!-- Số điện thoại -->
    <xs:simpleType name="phoneType">
        <xs:restriction base="xs:string">
            <xs:pattern value="0[0-9]{9}" />
        </xs:restriction>
    </xs:simpleType>
    <!-- Tên ca -->
    <xs:simpleType name="tencaType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Sáng" />
            <xs:enumeration value="Chiều" />
            <xs:enumeration value="Tối" />
        </xs:restriction>
    </xs:simpleType>
    <!-- Id -->
    <xs:simpleType name="idType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
        </xs:restriction>
    </xs:simpleType>
    <!-- Lương -->
    <xs:simpleType name="luongType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="1000000" />
        </xs:restriction>
    </xs:simpleType>
    <!-- Loại sản phẩm -->
    <xs:simpleType name="loaispType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Đồ uống" />
            <xs:enumeration value="Bánh ngọt" />
        </xs:restriction>
    </xs:simpleType>
    <!-- Giá và Tổng tiền -->
    <xs:simpleType name="giaType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="1000" />
        </xs:restriction>
    </xs:simpleType>
    <!-- Chức vụ -->
    <xs:simpleType name="chucvuType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Phục vụ" />
            <xs:enumeration value="Thu ngân" />
            <xs:enumeration value="Pha chế" />
            <xs:enumeration value="Phụ bếp" />
            <xs:enumeration value="Quản lý" />
            <xs:enumeration value="Bảo vệ" />
        </xs:restriction>
    </xs:simpleType>
    <!-- Số lượng -->
    <xs:simpleType name="soluongType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1" />
        </xs:restriction>
    </xs:simpleType>
    <!-- Phương thức thanh toán -->
    <xs:simpleType name="phuongthucType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Chuyển khoản" />
            <xs:enumeration value="Tiền mặt" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Gốc -->
    <xs:element name="quanlyquancaphe">
        <xs:complexType>
            <xs:sequence>
                <!-- Khách hàng -->
                <xs:element name="khachhang" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="khachhang_id" type="idType" />
                            <xs:element name="hoten" type="xs:string" />
                            <xs:element name="sodienthoai" type="phoneType" />
                            <xs:element name="diachi" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Nhân viên -->
                <xs:element name="nhanvien" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nhanvien_id" type="idType" />
                            <xs:element name="hoten" type="xs:string" />
                            <xs:element name="chucvu" type="chucvuType" />
                            <xs:element name="luong" type="luongType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Ca làm việc -->
                <xs:element name="calamviec" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ca_id" type="idType" />
                            <xs:element name="tenca" type="tencaType" />
                            <xs:element name="thoigianbatdau" type="xs:time" />
                            <xs:element name="thoigianketthuc" type="xs:time" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Phân công -->
                <xs:element name="phancong" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nhanvien_id" type="idType" />
                            <xs:element name="ca_id" type="idType" />
                            <xs:element name="ngaylam" type="xs:date" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Sản phẩm -->
                <xs:element name="sanpham" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="sanpham_id" type="idType" />
                            <xs:element name="tensanpham" type="xs:string" />
                            <xs:element name="loaisanpham" type="loaispType" />
                            <xs:element name="mota" type="xs:string" />
                            <xs:element name="gia" type="giaType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Đơn hàng -->
                <xs:element name="donhang" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="donhang_id" type="idType" />
                            <xs:element name="khachhang_id" type="idType" />
                            <xs:element name="nhanvien_id" type="idType" />
                            <xs:element name="ngaydat" type="xs:date" />
                            <xs:element name="tongtien" type="giaType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Chi tiết đơn hàng -->
                <xs:element name="chitietdonhang" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="donhang_id" type="idType" />
                            <xs:element name="sanpham_id" type="idType" />
                            <xs:element name="soluong" type="soluongType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Hóa đơn -->
                <xs:element name="hoadon" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="hoadon_id" type="idType" />
                            <xs:element name="donhang_id" type="idType" />
                            <xs:element name="ngaylaphoadon" type="xs:date" />
                            <xs:element name="phuongthucthanhtoan" type="phuongthucType" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>

        <!-- Khóa chính -->
        <xs:key name="khKey">
            <xs:selector xpath="khachhang" />
            <xs:field xpath="khachhang_id" />
        </xs:key>

        <xs:key name="nvKey">
            <xs:selector xpath="nhanvien" />
            <xs:field xpath="nhanvien_id" />
        </xs:key>

        <xs:key name="caKey">
            <xs:selector xpath="calamviec" />
            <xs:field xpath="ca_id" />
        </xs:key>

        <xs:key name="spKey">
            <xs:selector xpath="sanpham" />
            <xs:field xpath="sanpham_id" />
        </xs:key>

        <xs:key name="dhKey">
            <xs:selector xpath="donhang" />
            <xs:field xpath="donhang_id" />
        </xs:key>

        <xs:key name="hdKey">
            <xs:selector xpath="hoadon" />
            <xs:field xpath="hoadon_id" />
        </xs:key>

        <!-- Khóa ngoại -->
        <xs:keyref name="dhToKH" refer="khKey">
            <xs:selector xpath="donhang" />
            <xs:field xpath="khachhang_id" />
        </xs:keyref>

        <xs:keyref name="dhToNV" refer="nvKey">
            <xs:selector xpath="donhang" />
            <xs:field xpath="nhanvien_id" />
        </xs:keyref>

        <xs:keyref name="ctToDH" refer="dhKey">
            <xs:selector xpath="chitietdonhang" />
            <xs:field xpath="donhang_id" />
        </xs:keyref>

        <xs:keyref name="ctToSP" refer="spKey">
            <xs:selector xpath="chitietdonhang" />
            <xs:field xpath="sanpham_id" />
        </xs:keyref>

        <xs:keyref name="hdToDH" refer="dhKey">
            <xs:selector xpath="hoadon" />
            <xs:field xpath="donhang_id" />
        </xs:keyref>

        <xs:keyref name="pcToNV" refer="nvKey">
            <xs:selector xpath="phancong" />
            <xs:field xpath="nhanvien_id" />
        </xs:keyref>

        <xs:keyref name="pcToCA" refer="caKey">
            <xs:selector xpath="phancong" />
            <xs:field xpath="ca_id" />
        </xs:keyref>

    </xs:element>

</xs:schema>