quanlyquancaphe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Kiểu cho số điện thoại -->
    <xs:simpleType name="phoneType">
        <xs:restriction base="xs:string">
            <xs:pattern value="0[0-9]{9}" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Gốc -->
    <xs:element name="quanlyquancaphe">
        <xs:complexType>
            <xs:sequence>

                <!-- Khách hàng -->
                <xs:element name="khachhang" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="hoten" type="xs:string" />
                            <xs:element name="sodienthoai" type="phoneType" />
                            <xs:element name="diachi" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="khachhang_id" type="xs:ID" use="required" />
                    </xs:complexType>
                </xs:element>

                <!-- Nhân viên -->
                <xs:element name="nhanvien" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="hoten" type="xs:string" />
                            <xs:element name="chucvu" type="xs:string" />
                            <xs:element name="luong" type="xs:decimal" />
                        </xs:sequence>
                        <xs:attribute name="nhanvien_id" type="xs:ID" use="required" />
                    </xs:complexType>
                </xs:element>

                <!-- Ca làm việc -->
                <xs:element name="calamviec" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tenca" type="xs:string" />
                            <xs:element name="thoigianbatdau" type="xs:string" />
                            <xs:element name="thoigianketthuc" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="ca_id" type="xs:ID" use="required" />
                    </xs:complexType>
                </xs:element>

                <!-- Phân công -->
                <xs:element name="phancong" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ngaylam" type="xs:date" />
                        </xs:sequence>
                        <xs:attribute name="nhanvien_id" type="xs:IDREF" use="required" />
                        <xs:attribute name="ca_id" type="xs:IDREF" use="required" />
                    </xs:complexType>
                </xs:element>

                <!-- Sản phẩm -->
                <xs:element name="sanpham" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="tensanpham" type="xs:string" />
                            <xs:element name="loaisanpham" type="xs:string" />
                            <xs:element name="mota" type="xs:string" />
                            <xs:element name="gia" type="xs:decimal" />
                        </xs:sequence>
                        <xs:attribute name="sanpham_id" type="xs:ID" use="required" />
                    </xs:complexType>
                </xs:element>

                <!-- Đơn hàng -->
                <xs:element name="donhang" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ngaydat" type="xs:date" />
                            <xs:element name="tongtien" type="xs:decimal" />
                        </xs:sequence>
                        <xs:attribute name="donhang_id" type="xs:ID" use="required" />
                        <xs:attribute name="khachhang_id" type="xs:IDREF" use="required" />
                        <xs:attribute name="nhanvien_id" type="xs:IDREF" use="required" />
                    </xs:complexType>
                </xs:element>

                <!-- Chi tiết đơn hàng -->
                <xs:element name="chitietdonhang" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="soluong" type="xs:integer" />
                        </xs:sequence>
                        <xs:attribute name="donhang_id" type="xs:IDREF" use="required" />
                        <xs:attribute name="sanpham_id" type="xs:IDREF" use="required" />
                    </xs:complexType>
                </xs:element>

                <!-- Hóa đơn -->
                <xs:element name="hoadon" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ngaylaphoadon" type="xs:date" />
                            <xs:element name="phuongthucthanhtoan" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="hoadon_id" type="xs:ID" use="required" />
                        <xs:attribute name="donhang_id" type="xs:IDREF" use="required" />
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>