quanlyquancaphe.dtd

<!ELEMENT quanlyquancaphe (khachhang*, nhanvien*, calamviec*, phancong*, sanpham*, donhang*, chitietdonhang*, hoadon*)>

<!-- Khách hàng -->
<!ELEMENT khachhang (hoten, sodienthoai, diachi)>
<!ATTLIST khachhang khachhang_id ID #REQUIRED
>
<!ELEMENT hoten (#PCDATA)>
<!ELEMENT sodienthoai (#PCDATA)>
<!ELEMENT diachi (#PCDATA)>

<!-- Nhân viên -->
<!ELEMENT nhanvien (hoten, chucvu, luong)>
<!ATTLIST nhanvien nhanvien_id ID #REQUIRED
>
<!ELEMENT chucvu (#PCDATA)>
<!ELEMENT luong (#PCDATA)>

<!-- Ca làm việc -->
<!ELEMENT calamviec (tenca, thoigianbatdau, thoigianketthuc)>
<!ATTLIST calamviec ca_id ID #REQUIRED
>
<!ELEMENT tenca (#PCDATA)>
<!ELEMENT thoigianbatdau (#PCDATA)>
<!ELEMENT thoigianketthuc (#PCDATA)>

<!-- Phân công -->
<!ELEMENT phancong (ngaylam)>
<!ATTLIST phancong
    nhanvien_id IDREF #REQUIRED
    ca_id IDREF #REQUIRED
>
<!ELEMENT ngaylam (#PCDATA)>

<!-- Sản phẩm -->
<!ELEMENT sanpham (tensanpham, loaisanpham, mota, gia)>
<!ATTLIST sanpham sanpham_id ID #REQUIRED
>
<!ELEMENT tensanpham (#PCDATA)>
<!ELEMENT loaisanpham (#PCDATA)>
<!ELEMENT mota (#PCDATA)>
<!ELEMENT gia (#PCDATA)>

<!-- Đơn hàng -->
<!ELEMENT donhang (ngaydat, tongtien)>
<!ATTLIST donhang
    donhang_id ID #REQUIRED
    khachhang_id IDREF #REQUIRED
    nhanvien_id IDREF #REQUIRED
>
<!ELEMENT ngaydat (#PCDATA)>
<!ELEMENT tongtien (#PCDATA)>

<!-- Chi tiết đơn hàng -->
<!ELEMENT chitietdonhang (soluong)>
<!ATTLIST chitietdonhang
    donhang_id IDREF #REQUIRED
    sanpham_id IDREF #REQUIRED
>
<!ELEMENT soluong (#PCDATA)>

<!-- Hóa đơn -->
<!ELEMENT hoadon (ngaylaphoadon, phuongthucthanhtoan)>
<!ATTLIST hoadon
    hoadon_id ID #REQUIRED
    donhang_id IDREF #REQUIRED
>
<!ELEMENT ngaylaphoadon (#PCDATA)>
<!ELEMENT phuongthucthanhtoan (#PCDATA)>